/* Reset default margin and padding for the ul and li elements */
ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}


li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

/* Style for the "menu" div */
.menu {
    background-color: #009270;
    margin-top: 0px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Style for the search box */
input[type="text"] {
    padding: 8px;
    border: 2px solid #000;
    border-radius: 5px;
    width: auto;
}

/* Style for the menu links */
.menu a {
    text-decoration: none;
    color: #000;
}

/* Style for the menu links on hover */
.menu a:hover {
    color: azure;
}

/* Style for the logo */
.logo {
    width: 20%;
    float: left;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* Style for the "matches" div */
.matches {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for each sport block */
.sport {
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Style for the sport headings */
.sport h2 {
    color: #009270;
    font-size: 20px;
}

/* Style for each match block */
.match {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

/* Interactivity on match blocks */
.match:hover {
    background-color: #009270;
    color: #fff;
    cursor: pointer;
}

/* Style for cricket */
.sport.cricket1 {
    background-color: #009270; /* Adjust the background color as needed */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.sports.carrom1{
    background-color: #009270; /* Adjust the background color as needed */
    display: flex;
    flex-direction: column; /* Stack elements vertically */

}
.sport.carrom1 img {
    flex: 1; /* Make the image fill the remaining space */
    max-width: 100%; /* Ensure the image doesn't exceed the container */
    object-fit: cover; /* Crop the image to cover the container */
    margin: 10px 0; /* Add spacing around the image */
}
/* Style for cricket image */
.sport.cricket1 img {
    flex: 1; /* Make the image fill the remaining space */
    max-width: 100%; /* Ensure the image doesn't exceed the container */
    object-fit: cover; /* Crop the image to cover the container */
    margin: 10px 0; /* Add spacing around the image */
}
